*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(252,223,21, 1);
}

header {
  background-color: rgba(11,153,188, 1);
  text-align: center;
  color: rgba(255,255,255, 0.95);
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.container {
  padding: 0 1em 1em 1em;
}

div.links {
  padding: 10px;
  text-align: center;
}

.links>a {
  display: inline-block;
  width: 20%;
}

main {
  background-color: rgba(255,255,255, 1);
}

h2 {
  color: rgba(11,153,188, 1);
}

p {
  color: rgba(60,60,60, 1);
}

strong {
  color: rgba(11,153,188, 1);
}

footer {
  background-color: rgba(255,255,255, 1);
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-bottom: 5px;
}

section.header {
  border-bottom: 1px solid rgba(212,14,82, 1);
}
section.header>h2 {
  color: rgba(60,60,60, 1);
}

.resume strong {
  color: rgba(60,60,60, 1);
}

.project {
  padding: 0px 40px;
  background-color: white;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid rgba(212,14,82, 1);
}

section.projects img {
  width: 100%;
  height: 100%;
}

.title {
  padding: 10px;
  width: 40%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.description {
  padding: 15px;
  width: 60%;
  float: left;
}

div.column1 {
  width: 30%;
  float: left;
  text-align: right;
  padding-right: 15px;
}

div.column2 {
  border-left: rgba(212,14,82, 1) 1px solid;
  width: 70%;
  float: left;
  padding-left: 15px;
}

.resume {
  clear: both;
  overflow: hidden;
}

.job div {
  display: inline-block;
  width: 49%;
}
.job div .date,
.job div .location {
  text-align: right;
}


aside {
  width: 30%;
  float: left;
  text-align: center;
}

main.intro {
  width: 70%;
  float:left;
  overflow: hidden;
  padding-left: 5px;
}

h1 {
  text-shadow: 3px 2px 3px #000;
}
section.contact > p > img {
  width: 6%;
  margin: 0 auto;
}
section.projects img.project-badge {
  width: 6%;
}

section.projects img.climate-badge {
  width: 30%;
}

section.projects img.travis-badge {
  width: 25%;
}
