<header>
  <h1>Beth Jaswa</h1>
</header>

<main>
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer>
  <p>
    {{#link-to 'index'}}Index{{/link-to}}
    {{#link-to 'projects'}}Projects{{/link-to}}
    {{#link-to 'resume'}}Resume{{/link-to}}
  </p>
</footer>
