<header>
  <h1>Beth Jaswa</h1>
</header>

<main>
  <div class="links">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'projects'}}Projects{{/link-to}}
    {{#link-to 'resume'}}Resume{{/link-to}}
  </div>
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer>
  <div class="links">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'projects'}}Projects{{/link-to}}
    {{#link-to 'resume'}}Resume{{/link-to}}
  </div>
</footer>
