<header>
  <h1 class"name-text">Beth Jaswa</h1>
  <h2 class="main-title">Web &amp; Mobile Developer</h2>
</header>

<main>
  <div class="links">
    {{#link-to 'index'}}Home{{/link-to}}
    <a href="https://resume.creddle.io/resume/di61bsv2uf2">Resume</a>
    {{#link-to 'projects'}}Projects{{/link-to}}
  </div>
  <div class="container">
    {{outlet}}
  </div>
</main>
<footer>
  <section class="contact">
    <a href="https://linkedin.com/in/bethjaswa/en"><img src="/assets/linked_in.png"/></a>
    <a href="https://github.com/figmentbml"><img src="/assets/GitHub.png"/></a>
    <a href="https://twitter.com/figmentbml"><img src="/assets/Twitter_logo.png"/></a>
    <a href="https://medium.com/@figmentbml"><img class="medium" src="/assets/medium-logo.png"/></a>
    <a href="mailto:beth.jaswa@gmail.com"><img src="/assets/mail_icon.png"/></a>
  </section>
  <div class="links">
    {{#link-to 'index'}}Home{{/link-to}}
    <a href="https://resume.creddle.io/resume/di61bsv2uf2">Resume</a>
    {{#link-to 'projects'}}Projects{{/link-to}}
  </div>
</footer>
