<aside>
  <h2>Hello!</h2>
  <img src="/assets/card_Beth.jpg"/>
</aside>

<main class="intro">
  <section>
    <p>
      <strong>Who am I?</strong>
    </p>
    <p>
      I am a web and mobile developer.  I've worked with a variety of languages
      and technologies ranging from Swift, JavaScript, PHP, Ruby on Rails, HTML, and CSS.
      I'm a fast learner and hit the ground running.  I also enjoy working with a team to develop the best possible solution to any problem.
    </p>
    <p>
      I love food, wine, Disney, traveling, playing games, and relaxing with my boxer pup.
    </p>
  </section>

  <section>
    <p>
      <strong>What is my background?</strong>
    </p>
    <p>
      Before becoming a developer, I worked in hotels and corporate catering.
      I loved orchestrating large events and watching them come off flawlessly in the eyes of the attendees, and not to mention the wonderful food I've enjoyed throughout the years.
      As much as I enjoyed my hospitality career, I felt that something was missing and it was time for a change.
    </p>
    <p>
      Programming seemed like a big change at first, but then I realized that I've always loved puzzles and figuring out how things work.
      Every day is a new challenge and every day I have to think about how to solve a problem from different angles.
      I really enjoy delivering features and enhancements that helps make others' lives easier.
    </p>
  </section>

  <section>
    <p>
      <strong>Where am I going?</strong>
    </p>
    <p>
      The long and short of it is: As far as I can!
    </p>
    <p>
      I want to build applications with interesting challenges and work with a collaborative team.
      I love creating and working with APIs, data manipulation, and connecting the pieces of the world.
    </p>
  </section>
</main>
