<aside>
  <h2>Hello!</h2>
  <img src="/assets/card_Beth.jpg"/>
</aside>

<main class="intro">
  <section>
    <p>
      <strong>Who am I?</strong>
    </p>
    <p>
      I am currently attending gSchool to learn the ways of web development.
      I love food, wine, Disney, traveling, and playing with my boxer pup.
    </p>
  </section>

  <section>
    <p>
      <strong>What is my background?</strong>
    </p>
    <p>
      I worked in hotels and corporate catering in my pre-web dev life.
      I loved orchestrating large events and watching them come off flawlessly in the eyes of the attendees, and not to mention the wonderful food I've enjoyed throughout the years.
      As much as I enjoyed my hospitality career, I felt that something was missing.
    </p>
    <p>
      I was fortunate to get a real feel for the industry by working with engineers and developers every day at my previous job.
      The tools in my work toolbelt were always changing and updating, so I became accustomed to learning the newest thing on the scene.
      I also became frustrated when I couldn't solve a tech problem despite having all of these developers and engineers around.
      I started to flirt with the notion of attempting to create something myself and in a lot of ways I did.
      I solved my problems using the technology available and it was completely rewarding each time.
      After some thought, I decided to expand my knowledge and actually learn to code.
    </p>
  </section>

  <section>
    <p>
      <strong>Where am I going?</strong>
    </p>
    <p>
      The long and short of it is: As far as I can!
    </p>
    <p>
      I want to build applications with interesting challenges and work with a collaborative team.
      I love creating and working with APIs, data manipulation, and connecting the pieces of the world.
      A few years from now, I see myself fluent in multiple frameworks and with a deeper understanding of Ruby and Javascript.
    </p>
  </section>
</main>
