<aside>
  <h2>Hello!</h2>
  <img src="/assets/card_Beth.jpg"/>
</aside>

<main class="intro">
  <section>
    <p>
      <strong>Who am I?</strong>
    </p>
    <p>
      I am a junior mobile and web developer.  I've worked with Ruby on Rails, Javascript, Swift, HTML, CSS, and Ember.js.
      I'm a fast learner and hit the ground running.
    </p>
    <p>
      I love food, wine, Disney, traveling, playing games, and relaxing with my boxer pup.
    </p>
  </section>

  <section>
    <p>
      <strong>What is my background?</strong>
    </p>
    <p>
      Before becoming a developer, I worked in hotels and corporate catering.
      I loved orchestrating large events and watching them come off flawlessly in the eyes of the attendees, and not to mention the wonderful food I've enjoyed throughout the years.
      As much as I enjoyed my hospitality career, I felt that something was missing.
    </p>
    <p>
      In my previous career, I became frustrated when a tech problem couldn't be solved even though I worked with developers and engineers.
      I started to create tools for myself that solved the challenges using the technology available and it was completely rewarding each time.
      After some thought, I decided to expand my knowledge, actually learn to code, and change careers.
    </p>
    <p>
      Programming seemed like a big change at first, but then I realized that I've always loved puzzles and figuring out how things work.
      I really enjoy the challenges that programming has presented and then conquering them.
    </p>
  </section>

  <section>
    <p>
      <strong>Where am I going?</strong>
    </p>
    <p>
      The long and short of it is: As far as I can!
    </p>
    <p>
      I want to build applications with interesting challenges and work with a collaborative team.
      I love creating and working with APIs, data manipulation, and connecting the pieces of the world.
    </p>
  </section>
</main>
