<h2>Resume</h2>

<section>
  <table>
    <thead>
      <td>
        Job
      </td>
    </thead>
    <tbody>
      <tr>
        <td>
          My job
        </td>
      </tr>
    </tbody>
  </table>
</section>
